.order-region {
    margin: 0 auto;
    font-family: $font-general;
    max-width: 580px;
    width: 100%;
    max-height: 460px;
    height: 100%;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 25px 15px;

    .title {
        font-weight: 700;
        font-size: 14px;
    }
}

.order-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.order-details {
    max-width: 300px;

    .underline {
        width: 300px;
        border: 0.5px solid #E0E0E0;
        margin-bottom: 15px;
    }
}

.order-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    .title {
        margin-bottom: 25px;
    }

    .name {
        font-weight: 600;
        font-size: 16px;
        color: $color-purple;
    }

    .type {
        font-weight: 300;
        font-size: 14px;
    }
}

.order-services {

    .name,
    .price {
        font-weight: 300;
        font-size: 14px;
    }

    .name {
        display: inline-flex;
        align-items: center;
        max-width: 170px;
        word-break: break-all;
    }

    .price {
        margin-right: 0;
    }
}

.order-information {
    max-width: 220px;
    margin: 0 auto;
}

.order-form {

    .first-section {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .name,
    .date,
    .time,
    .phonenumber {
        position: relative;
        box-sizing: border-box;
        font-weight: 300;
        font-size: 14px;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        max-height: 40px;
        padding: 10px 0 10px 10px;

    }

    .name {
        width: 100%;
        margin-bottom: 10px;
    }

    .date {
        width: 45%;
    }

    .time {
        width: 50%;
        margin: 0;
        box-shadow: unset;
    }

    .second-section {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 300;
            color: $color-purple;
            margin-bottom: 15px;
        }
    }

    .radio {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .radio {
        cursor: pointer;
    }

    .telephone,
    .whatsapp,
    .email {
        margin-right: 5px;
    }
}

.order-footer {
    text-align: center;

    .subscribe {
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        color: white;
        background: $color-purple;
        border-radius: 20px;
        border: 0;
        padding: 10px 25px;
        cursor: pointer;
    }

    .description {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 14px;
        margin-top: 20px;
    }
}