.articlecardpage-region {
    font-family: $font-general;
    margin-bottom: 30px;

    & .layout {
        margin-top: 20px!important;
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        color: $color-purple;
        margin-bottom: 20px;
    }

    .content {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
    }

    a {
        text-decoration: underline;
        color: $color-purple;
        cursor: pointer;
    }
    .image {
        width: 100%;
        height: auto;
        display: block;
        margin: 30px auto;
    }
}
