.about-me {

    .profile-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .underline {
        width: 90px;
    }

    .settings-form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-right: 15px;
    }

    .short-fields {
        display: flex;
        justify-content: space-between;
        max-width: 580px;
    }

    .name,
    .surname {
        width: 100%;
        margin-right: 10px;
    }

    .birthday {
        max-width: 240px;
    }

    .long-field {
        position: relative;
        display: flex;
        margin-bottom: 10px;
    }

    .about {
        width: 100%;
        max-width: 100%;
        max-height: 40px;
        resize: vertical;
        margin-bottom: 0;
    }

    .question {
        position: absolute;
        margin-top: 10px;
        margin-right: 10px;
        right: 0;
        cursor: pointer;
    }

    .address-field {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.settings-form.master {
    .working-place {
        .input_box {
            font-family: $font-general;
            width: 15%;
            display: flex;
            justify-content: baseline;
            align-items: center;
            font-size: 15px;
            margin-bottom: 12px;
    
    
            input[type="checkbox"] {
                display: none;
            }
    
            label {
                position: relative;
                top: 1px;
                height: 14px;
                width: 14px;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.2);
                display: inline-block;
                border-radius: 3px; 
                margin-right: 8px;
                cursor: pointer;
            }
    
            input[type="checkbox"]:checked + label {
                background-image: url('../img/checked.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}



.settings-form.master {
    .payment-method {
    
        .input_box {
            font-family: $font-general;
            width: 15%;
            display: flex;
            justify-content: baseline;
            align-items: center;
            font-size: 15px;
            margin-bottom: 12px;
    
            input[type="radio"] {
                display: none;
            }
    
            label {
                position: relative;
                top: 0;
                height: 14px;
                width: 14px;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.2);
                display: inline-block;
                border-radius: 3px; 
                margin-right: 8px;
                cursor: pointer;
            }
    
            input[type="radio"]:checked + label {
                background-image: url('../img/checked.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}




.short-fields,
.one-field {

    input {
        margin-bottom: 10px;
    }
}

.avatar-region {
    display: flex;
    margin-bottom: 30px;

    .title-region {
        display: flex;
        flex-direction: column;
        margin: 25px 0 0 15px;
    }

    .title {
        font-family: $font-general;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .description {
        font-family: $font-general;
        font-weight: 300;
        font-size: 12px;
        color: #B3B3B3;
    }
}
