.storyclient-region {
    font-family: $font-general;
    background-color: #FCF6FE;

    .layout {
        margin: 0 auto;
        width: 100%;
        padding: 41px 0 0 135px;
    }

    .profile-header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .sections-region {
        width: 60%;
    }

    .record-underline {
        width: 50%;
    }
}

.records-region {

    .record-header {
        margin-bottom: 30px;
    }

    .record-content {
        margin-bottom: 15px;
    }
}

.record-region {
    box-sizing: border-box;
    position: relative;
    background: white;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;

    .record_date {
        font-weight: 300;
        font-size: 14px;
        color: #666666;
        margin-right: 15px;
    }

    .record-underline {
        border: 0.5px solid #E0E0E0;
        margin-bottom: 10px;
    }
}

.record_header_bottom {
    margin-left: auto;
}

.cancel {
    position: absolute;
    right: 2%;
    bottom: 12%;
    color: #7C107E;
    border: 1px solid #7C107E;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 14px;

}

.record-header {
    display: flex;
    align-items: center;
    font-family: $font-general;

    .number {
        font-weight: 300;
        font-size: 14px;
        margin-right: 25px;
    }

    .date {
        margin-right: 10px;
    }

    .name {
        max-width: 40%;
        font-weight: 600;
        font-size: 16px;
        color: $color-purple;
    }

    .type {
        font-weight: 300;
        font-size: 14px;
    }

    .status {
        font-weight: 300;
        font-size: 14px;
        margin-left: auto;
        opacity: .6;
    }

    .state {
        font-weight: 700;
        font-size: 14px;
        color: $color-purple;
        margin-left: 20px;
    }
}

.record-content {
    max-width: 50%;
}

.offer-region {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    .ellipse {
        margin: auto 10px auto 0;
    }

    .name {
        display: flex;
        align-items: center;
        width: 40%;
        font-weight: 300;
        font-size: 14px;
    }

    .date {
        width: 40%;
    }

    .price {
        font-weight: 600;
        font-size: 14px;
        margin-left: auto;
        width: 10%;
        text-align: end;
        min-width: 61px;
        margin-right: 17px;
    }

    .delete {
        position: relative;
        top: 2px;
    }
}

.record-footer {
    display: flex;
    justify-content: space-between;
    max-width: 47%;
    width: 47%;

    .result {
        font-weight: 600;
        font-size: 14px;
        margin-right: auto;

    }

    .price {

        font-weight: 600;
        font-size: 14px;
    }
}
